<div class="x" data-controller="vacallina">
  <%= image_tag("vacallina.png", class: "y", width: "100", height: "100", alt: "Guapo el que pulse",
                draggable: "false", "data-action": "mousedown->vacallina#duplicate") %>
</div>
